<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="MySQLConnection"
			 connectionString="Server=localhost;Database=VP_PBE;Uid=root;Pwd=mysql123;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>


